[2012-05-30 19:11] akappen opened #1 "Account#promote_to_merchant raises exception"
Using gem version 0.2.5

I created a new buyer account and called promote_to_merchant on it.  It threw a NameError.

1.9.3p125 :052 > buyer.promote_to_merchant({
1.9.3p125 :053 >              :type => "person",
1.9.3p125 :054 >              :name => "Billy Jones",
1.9.3p125 :055 >              :street_address => "801 High St.",
1.9.3p125 :056 >              :postal_code => "94301",
1.9.3p125 :057

[2012-05-30 19:15] akappen commented on #1
Sorry, here's the error with better formatting.

[code]

[2012-05-30 19:18] akappen opened #2 "Account#add_card raises exception"
Using gem version 0.2.5

I created a new buyer account and card, then tried to add the card to the buyer.  This raised a NoMethodError.

[code]

[2012-05-30 19:21] akappen opened #3 "Account#add_bank_account raises exception"
Using gem version 0.2.5

I created a new merchant and bank account, then tried to add the bank account to the merchant.  This raises a NoMethodError.

[code]

[2012-05-30 19:22] akappen opened #4 "Resource.find should be a class method"
The find method on Resource is implemented as an instance method when it should probably be a class method.

[2012-06-07 20:55] #4 closed, assigned to mahmoudimus

[2012-06-07 22:23] harryj opened #5 "buyer.cards returns single card and a 'todo message'"
calling buyer.cards prints:

"TODO: return the pager for this class: Balanced::Card"

and returns a single card. I'm assuming at some point buyer.cards will return an array of cards, not a single card object?

[2012-06-08 16:59] harryj commented on #5
So it seems you can access the buyer's card that the buyer was created with via buyer.cards.items.first and then pull fields off that ie buyer.cards.items.first['is_valid']. From the other issue it seems that add_card does not currently work so can't test trying to get multiple cards from buyer.

[2012-06-08 17:02] harryj commented on #5
Oops sorry the above syntax is not correct, it should be Balanced::Cards.find(buyer.cards_uri).items.first.  This at least will give you a hash of the properties of the card, not the actual card object itself?

[2012-06-08 17:09] mjallday commented on #5
I'm not sure on ruby symantics but in our python library `find` will return a single record, we use `filter` to return multiple results.

e.g.

[code]

or

[code]

Does this make sense in ruby too?

[2012-06-10 05:41] gangster opened #8 "Requests for API keys that include basic auth return a truncated object"
I noticed that if I pass in basic auth to a request for an API key, it doesn't return the nested merchant object.  Not sure if this is on purpose or an error.  I found it surprising.

[code]

[2012-06-14 16:15] mjallday opened #12 "No support for more information requests when creating merchants"
The balanced API [returns a 300 response](https://www.balancedpayments.com/docs/api#requests-for-more-information) when it fails to identify a merchant.

The ruby client does not support this and should raise an exception along with an appropriate message and a URL that the marketplace can redirect the user to to collect more information.

[2012-06-15 15:33] mahmoudimus commented on #8
I think the idea here is that if you already have an API key then you can just get your merchant by doing a:

[code]

which will return the merchant associated with your api key.

I think you're right though. I think we should return the nested merchant object.

[2012-06-26 23:09] davidgrieser opened #15 "Can't find Buyer by email."
There isn't a method `Marketplace#find_buyer` to get a buyer account from the Balanced system.

[2012-06-26 23:24] zealoushacker commented on #15
While there is a `Balanced::Resource.find` method, it always expects the URI. I think it definitely makes sense to have a more generic set of finder methods to be able to search by various attributes (much like Rails provides `find_by_x` methods on `ActiveRecord` and `ActiveResource`).

[2012-06-26 23:39] mahmoudimus commented on #15
That definitely makes sense. I'm working on something similar.

[2012-06-27 05:40] mahmoudimus commented on #15
So @alexnotov rails provides something like `named_scopes`, which essentially is what would be implemented here. However, I really like our python client's way of filtering: https://github.com/bninja/wac/blob/master/tests.py#L758

So, essentially we have a robust way to filter where the filtering operation is encoded into the string between `[]` on teh key, e.g. `amount[<]=1500` which translates t

[2012-06-27 06:05] zealoushacker commented on #15
@mahmoudimus You wouldn't use named scopes to implement this, since you don't have access to that outside of rails. Plus that's tied to the ORM. Though I think you're probably just referring to the idea behind named scopes and the where clause implementation they built for that.

The filtering concept in py seems really neat, but can possibly be confusing in terms of readability - e.g. `amount[<]=

[2012-06-27 06:21] zealoushacker commented on #15
In order to answer your question, I'd need to know what ruby object(s) we'd be operating on... It sounds like it would be an array of hashes and we'd be filtering on the value of a key, irrespective of the data type of the value, and considering that at a key we may indeed find an array of values, on which we would possibly want to do a range filter... going further, we'd want to be able to concat

[2012-06-27 06:26] mahmoudimus commented on #15
I think it's important to concatenate the filters -- the way we solved this in our python client was by having a `query` attribute that essentially returned a `Queryable` object that took the resource to operate on.

Regarding knowing the fields ahead of time, i think it would make sense if one passes the values through directly, leaving the server to validate whether or not a field actually exist

[2012-06-27 06:38] zealoushacker commented on #15
I would like to step back and ask a few questions:

What sort of data does your typical customer (balanced API implementer) need on a regular basis and how would they like to query it the majority of the time?

Are 80%+ of your customers going to want to operate on single objects or simple lists, queried via a basic attribute list, like so: `Account.find_by_email`, or `Account.find(7)`, or `Accoun

[2012-06-27 06:48] zealoushacker commented on #15
As far as examples in the wild: http://guides.rubyonrails.org/active_record_querying.html :metal:

Again though, the above is for doing complicated querying that translates into SQL. It's not for building an API tier that clearly delineates the boundaries between your system and ours.

[2012-06-28 18:18] zealoushacker commented on #15
zzz... seeing as how this has been stale for a couple of days, I'd like to add another comment:

Remember, you guys are building this gem for the rails community. Don't reinvent the wheel. Follow the patterns that we are used to, and we'll be happy campers. Finder methods are obvious :)

This doesn't mean that there's no room for change and innovation. It just means that you should think about wha

[2012-06-28 22:27] mahmoudimus commented on #15
Fixed in gem ~> 0.3.4

[2012-06-28 22:27] #15 closed, assigned to nobody

[2012-07-03 21:13] #5 closed, assigned to mahmoudimus

[2012-07-05 22:34] harryj opened #18 "resource .all pager throws merge error"
ruby-1.9.2-p180 :001 > Balanced::Transaction.all
NoMethodError: undefined method `merge!' for nil:NilClass
    from /home/harry/.rvm/gems/ruby-1.9.2-p180/gems/balanced-0.3.5/lib/balanced/pager.rb:142:in`load_from'
    from /home/harry/.rvm/gems/ruby-1.9.2-p180/gems/balanced-0.3.5/lib/balanced/pager.rb:84:in `next'
    from /home/harry/.rvm/gems/ruby-1.9.2-p180/gems/balanced-0.3.5/lib/balanced/page

[2012-07-06 04:26] #18 closed, assigned to nobody

[2012-07-06 04:28] mahmoudimus commented on #12
This is fixed as of version 0.3.4. Referencing commit: https://github.com/balanced/balanced-ruby/commit/d2a2e2c876ae595e2eecfcd4bab26d5a991832be

[2012-07-06 04:28] #12 closed, assigned to mahmoudimus

[2012-07-06 04:29] #3 closed, assigned to mahmoudimus

[2012-07-06 04:29] #2 closed, assigned to mahmoudimus

[2012-07-06 04:30] #1 closed, assigned to mahmoudimus

[2012-07-07 00:51] mahmoudimus opened #19 "Hold#void dirties resource even when save raises exception"
[Alex Notov reports that Hold#void doesn't have consistent attributes when an exception is raised during save](http://stackoverflow.com/questions/11370973/when-attempting-to-void-a-hold-on-balanced-payments-that-had-been-captured-why)

[2012-07-07 17:21] #19 closed, assigned to nobody

[2012-07-09 20:10] mjallday opened #20 "Count on paged collections is incorrect"
An new merchant account with no bank accounts will return `4` as the number of bank accounts with the following code:

[code]

It appears that bank_accounts is not filtering by this account, it's returning the owner_account and the marketplace merchant account.

[2012-07-09 22:11] mjallday opened #21 "Can add duplicate cards to accounts"
A valid card should only be able to exist once on an account.

If you tokenize and try to associate the card again a 409 logical error should be raised. If you try to add a card that already exists but the card currently associated the new card should be added the same as any other card.

[2012-07-09 22:33] mjallday commented on #21
We've decided to keep this behavior as-is.

[2012-07-09 22:33] #21 closed, assigned to nobody

[2012-07-11 03:08] #20 closed, assigned to nobody

[2012-07-16 22:43] mjallday opened #22 "Cannot invalidate a bank account"
[code]

Gives the following error

[code]

[2012-07-16 22:51] mjallday commented on #22
Work around:

Create a new bank account with only the `uri` and `is_valid` parameters set and save that:

[code]

[2012-07-25 21:44] mjallday opened #23 "Ruby 1.8.7"
Gimme that old skool flavor

[code]

[2012-08-02 00:03] mjallday opened #24 "Sinatra hates on balanced-ruby"
Given a relatively simple file such as

[code]

We get a relatively horrible stacktrace:

[code]

[2012-08-02 00:03] #24 closed, assigned to nobody

[2012-08-03 20:50] mjallday opened #25 "balanced-ruby does not enforce the type returned when doing a find"
When I ask for a Debit I should get a Debit, if it's another type of object I should get an error

[code]

[2012-08-03 21:27] mjallday opened #26 "No indication if filtering is using a valid field or not"
The Balanced API only filters on a subset of the returned fields.

[code]

This code looks like it will return the first hold with the associated ID. However, the API doesn't allow filtering on the ID field.

Balanced should either throw an error in the balanced-ruby library or document which fields are indexable.

[2012-08-03 21:29] mjallday commented on #26
Runable example showing how this can bite you in the butt - https://gist.github.com/47b943f57096b4a9c471

[2012-08-03 21:30] zealoushacker commented on #26
:+1:

[2012-08-03 21:33] mahmoudimus commented on #26
So this is actually an API issue silently ignoring fields it's not indexing on -- not a Ruby client issue. We'll track the progress of this issue with this github ticket and update when we fix and prioritize internally.

[2012-08-03 21:47] mahmoudimus commented on #25
This is a fair request - it should be expected that the `find` class method of a `Resource` child only apply to its class types. The only coercion should happen if you use the super class, in this case `Resource`, `find` method, which coerce it into the appropriate type.

[2012-08-09 07:48] bninja opened #27 "Marketplace.create_merchant with nil bank account does not create a merchant"
account created does not have role 'merchant' (see https://support.balancedpayments.com/tickets/1221 ):

[code]

if a bank account is provided the account is properly created as a merchant.

equivalent python client call creates account with role 'merchant'.

[2012-08-09 19:12] bcm opened #28 "Feature request: Allow the logger to be configured"
I'd like to specify my own Logger instance as a configuration option.

[2012-08-09 19:13] bcm opened #29 "Feature request: Built-in stubbing"
http://stackoverflow.com/questions/11890336/whats-the-best-way-to-stub-out-network-calls-with-faraday-in-the-balanced-ruby

[2012-08-09 19:14] bcm opened #30 "Feature request: Request timeout configuration"
I'd like to be able to specify open and read request timeout values as configuration options. It would also be nice to be able to do it on a per-request basis, but I can live without that.

http://stackoverflow.com/questions/8098584/faraday-timeout

[2012-08-14 19:00] bcm opened #31 "Feature request: Support Kaminari-style pagination parameters"
Applications displaying paginated query results are typically code in terms of page number and size rather than result set offset and limit. It's easy to convert between the two paradigms though, so it would be nice if the pager supported Kaminari api-compatible `page` and `per` params and converted them to `offset` and `limit` behind the scenes.

[2012-08-14 19:59] bcm opened #33 "Feature request: Support Kaminari view helper API"
Much like issue #31, it would be nice for the pager to be api-compatible with Kaminari's inasmuch as that library's view helpers require in order to render pagination controls.

[2012-08-14 20:52] #31 closed, assigned to nobody

[2012-08-18 00:24] #30 closed, assigned to nobody

[2012-08-18 00:25] #33 closed, assigned to nobody

[2012-08-18 00:30] #28 closed, assigned to nobody

[2012-08-21 15:08] mjallday commented on #26
Opened a ticket on the [balanced-api](https://github.com/balanced/balanced-api) repo which will need to be tackled first.

https://github.com/balanced/balanced-api/issues/21

[2012-09-18 17:21] mjallday opened #38 "appears_on_statement_as is not supported when creating a credit via a bank account"
https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/bank_account.rb#L37

It is not parsed out of the options dict.

A work around exists:

[code]

[2012-09-18 17:26] zealoushacker commented on #38
Also there's duplication in https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/account.rb#L83

[2012-09-19 20:46] mjallday opened #39 "The example on the Balanced homepage is broken"
Example fails tokenizing card:

[code]

Error message:

[code]

[2012-10-11 09:30] ajsharp commented on #38
+1. Need this.

[2012-10-21 03:01] joeyAghion opened #40 "Account#hold doesn't accept appears_on_statement_as parameter"
[API docs](https://github.com/balanced/balanced-api/blob/master/resources/holds.rst) refer to the `appears_on_statement_as` argument for creating a hold, but the `Account#hold` implementation seems to drop that parameter.

[2012-10-22 15:56] mjallday commented on #40
Hey Joey,

This is a bug in the documentation for holds! `appears_on_statement_as` is only used when creating a debit.

Balanced will attempt to set what appears on the statement to the domain name of your site when creating a hold, however this is poorly supported by Amex and debit cards so it's not something that we expose via the API.

Thanks for bringing this to our attention, I've [created an

[2012-10-22 15:56] #40 closed, assigned to nobody

[2012-10-24 18:57] ajsharp opened #41 "Balanced::Marketplace.my_marketplace should memoize the response"
There are a lot of places in the code that invoke `my_marketplace` in order to acquire what are essentially static values. For example, the `Balanced::Account` does the following in it's initializer in order to get the marketplace's accounts_uri:

[code]

Most other resources in the ruby client do this same thing.

This means that every single call to initialize a new `Balanced::Account` object wi

[2012-10-24 19:00] mjallday commented on #41
+1 We [already do this](https://github.com/balanced/balanced-python/blob/master/balanced/resources.py#L757) in balanced-python.

[2012-10-24 19:02] ajsharp commented on #41
Cool, i'll submit a PR in a few.

[2012-10-24 19:08] mjallday commented on #41
Note that there needs to be a way to flush the cache, the `Balanced::Marketplace` object has an `in_escrow` field which changes per transaction so people are going to want to be able to see that value.

[2012-10-24 19:12] ajsharp commented on #41
Hmm. This sounds like it might be slightly more complicated. What is the `in_escrow` property?

Maybe a more tactical approach would be to fix how the uri's are generated in the initializers. So, instead of invoking `.my_marketplace` every time, all that's needed is the marketplace id, and the url generation can be static, right?

[code]

[2012-10-24 19:16] ajsharp commented on #41
I see that there's a `collection_path` method in `lib/balanced/resources/resource.rb`, but that looks like it's going to generate url's in the form of "/v1/accounts". Is the marketplaces/:id portion of the url string optional?

For brevity:

[code]

[2012-10-24 19:23] mahmoudimus commented on #41
@ajsharp constructing uris is generally an anti-pattern for REST. The reason you're looking to memoize the my_marketplace is to speed up uri retrieval, right?

[2012-10-24 19:28] ajsharp commented on #41
Yep, exactly. Maybe we can cache that which rarely changes, such as the uri fields (accounts_uri, etc), and let the other stuff pass through to network calls. What do you think?

[2012-10-26 17:52] zealoushacker commented on #38
So I dug deeper...

I now understand what's going on and would like to make some constructive suggestions.

Your one and only interface should always be one of the resource objects. You should not be re-defining your interface via consumers of this interface. Indeed, the only things that need to be in the specific interface implementations are the differences (DRY). So in this example, your one an

[2012-10-31 15:58] mjallday commented on #25
This can also happen in this scenario:

[code]

Note that `card_uri` was accidentally input as `uri` which produces the confusing error message "Not permitted to perform update on marketplace_cards"

[2012-11-04 17:07] robertodecurnex opened #43 "Unable to inherit from Balanced::Card"
Reflection is used to create the _uri methods. Inheriting from  `Balanced::Card` cause excpetions when creating a new instances.

[code]

[2012-11-06 11:20] ajsharp opened #44 "Balanced::Error class is overloaded and used inconsistently in the codebase"
Currently in the codebase, the `Balanced::Error` class is used as the base exception class for all response-related errors. However, there is an instance in resource.rb where the class is used a general purpose exception class. It passes it only a string, instead of the response object the `Balanced::Error` class usually expects.

One solution is to hack the error class with some conditional logic

[2012-11-06 17:39] ajsharp commented on #44
FWIW, I'm going to attempt to address this in my fix for #41.

[2012-11-06 19:54] ajsharp opened #45 "Logical error with generated predicate methods"
The predicate methods generated from the response body actually do the opposite of what they're intended to do. I've got a fix in the branch I'm working off. Here's the broken code: https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/resource.rb#L137. Similar code also exists in the `Balanced::Error` class, for which I also have a fix. Pushing all this stuff up soon.

[2012-11-08 05:14] #44 closed, assigned to nobody

[2012-11-08 05:14] #45 closed, assigned to nobody

[2012-11-08 05:14] #41 closed, assigned to nobody

[2012-11-25 18:29] ajbraus opened #48 "invalid option: --default_path=spec"
http://stackoverflow.com/questions/13553880/balanced-breaking-rspec

[2012-11-27 14:02] mjallday commented on #48
Solved on stackoverflow http://stackoverflow.com/questions/13553880/balanced-breaking-rspec

[2012-11-27 14:02] #48 closed, assigned to nobody

[2012-12-11 23:07] neilsarkar opened #50 "Marketplace#create_merchant raises Faraday::Error::TimeoutError"
When balanced sends back a 300, it appears that the ruby client reports it as a Faraday Timeout Error.

This is in an activerecord callback:

[code]

and I've attached screenshots of the logs:

![Screenshot 12:11:12 6:02 PM-2](https://f.cloud.github.com/assets/83109/7081/b276c3f4-43e7-11e2-8903-7357eae12bc8.png)

![Screen Shot 2012-12-11 at 5 53 57 PM](https://f.cloud.github.com/assets/83109/7074/

[2012-12-11 23:11] neilsarkar commented on #50
You know what, it looks like Airbrake just hadn't updated fast enough. After I upped the Faraday timeout using

`Balanced.configure(BALANCED_API_KEY, connection_timeout: 30, read_timeout: 30)`

I was able to get back the right error.

[2012-12-11 23:11] #50 closed, assigned to nobody

[2012-12-20 02:33] mahmoudimus commented on #39
Homepage is not the same anymore :)

[2012-12-20 02:33] #39 closed, assigned to nobody

[2012-12-20 02:36] mahmoudimus commented on #38
@alexnotov has fixed this and I've confirmed it is passed through

[2012-12-20 02:36] #38 closed, assigned to nobody

[2012-12-20 02:36] mahmoudimus commented on #27
This is now no longer relevant :)

[2012-12-20 02:36] #27 closed, assigned to nobody

[2012-12-20 02:39] mahmoudimus commented on #22
This is now fixed.

[2012-12-20 02:39] #22 closed, assigned to nobody

[2012-12-20 02:44] mahmoudimus opened #53 "Remove the pager's to_a"
Right now, the pager does `to_a` which causes an issue when you want to filter on a sub resource of an item.

We should fix this.

[2012-12-31 22:14] ajsharp opened #56 "Resource URI is lost when an exception occurs while updating a resource"

[2012-12-31 22:33] ajsharp commented on #56
I'm seeing this when client-side timeouts are triggered from Faraday. I'm wondering if the uri is somehow getting cleared in the `Balanced::Resource#reload` method.

[2013-01-09 10:09] kalabiyau opened #57 "Balanced::Account.promote_to_merchant ignores user data on PUT"
By DOCS - first we create an account with no data

[code]

Logs on dashboard contain two request POST for creation and PUT for promotion. Anyway - promote - does not respect provided email, name and so on. Getting this resource back does not contain any provided by merchant_data hash results. Is it ok ?
CURL request does this thing in one request(POST) without a problem.

Seems related to API back

[2013-01-09 12:41] mjallday commented on #57
Hey @kalabiyau

From your example it doesn't look like you're passing in the name and email address.

The promote method only accepts merchant data which is used for underwriting the merchant associated with the account but does not actually update the email address or name on the account itself.

To update those either pass through the email and name when creating the account initially or do it i

[2013-01-09 13:08] kalabiyau commented on #57
@mjallday thanx !

[2013-01-09 13:08] #57 closed, assigned to nobody

[2013-01-11 06:17] phallguy opened #58 "Account.debit does not honor documented card_uri field"
When creating a debit through the Account.debit method, passing a card_uri parameter as documented in the API reference, that value is not passed to the Debit object. This is a problem when multiple cards are stored for a user (for example they use one card, it's declined due to ISF, then provide a second card).

[2013-01-11 06:21] phallguy commented on #58
It also doesn't honor the merchant_uri field.

[2013-01-11 16:55] mjallday commented on #58
Hey @phallguy

If you look at the [source code](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/account.rb#L40), you can see that it expects the `source_uri` param rather than `card_uri`. This is more portable since you won't need to change the param name if you debited an alternate funding instrument such as a bank account if Balanced supports these in the future.

He

[2013-01-11 16:59] seejohnrun commented on #58
So glad I just saw this - the documentation should definitely be cleared up and card_uri removed from the left side

[2013-01-11 17:01] mjallday commented on #58
I've [created an issue in our documentation repo](https://github.com/balanced/balanced-docs/issues/21) to better address how to associate merchant's and debits.

@seejohnrun To be clear: the `card_uri` param _will work_ with the API, it's just the balanced-ruby client doesn't support it.

[2013-01-11 17:01] #58 closed, assigned to nobody

[2013-01-11 17:11] seejohnrun commented on #58
Right - just a bit confusing because in the "Ruby" mode on the documentation it is still listed on the left side and there is no mention of it working or not working - or even what source_uri is

Thanks guys - and again, amazing service :)

[2013-01-19 09:15] seansu4you87 opened #59 "setting :appears_on_statement_as when making a Balanced::Credit doesn't save the value"
[code]

checking the logs in the dashboard, I see that the request contains :appears_on_statement_as but the response does not.

Thanks!

[2013-01-19 09:27] seansu4you87 commented on #59
BTW, since appears_on_statement_as seems to be coming in correctly in the dashboard logs, it seems that this would be an internal server error instead of a Ruby client error.  Ya never know though, maybe the Ruby client is incorrectly parsing data from the server

[2013-01-21 16:59] mjallday commented on #59
Check how you're passing through those arguments, use [symbols](http://www.robertsosinski.com/2009/01/11/the-difference-between-ruby-symbols-and-strings/) instead of strings, `:appears_on_statement_as => "test"` as opposed to `appears_on_statement_as: "test"`. Note the leading `:`. :)

[code]

[2013-01-21 20:14] seansu4you87 commented on #59
starting in Ruby 1.9 a [new hash syntax](http://stackoverflow.com/questions/8220195/allowing-for-ruby-1-9s-hash-syntax) was introduced:

[code]

is equivalent to

[code]

I think the bug still exists, if it was closed on the basis of the hash syntax

[2013-01-21 22:52] mahmoudimus commented on #59
Re-opening.

[2013-01-22 16:49] mjallday commented on #59
It still seems to work for me

[code]

@seansu4you87 can you please provide us the request ID of the request that's failing? If you take the above script and configure a logger like this

[code]

you will get the headers for each response, please give us the header that looks like `"x-balanced-guru"="OHM620493c864b311e29813026ba7d31e6f"` and we'll debug the response in our server logs.

[2013-01-22 17:19] seansu4you87 commented on #59
Yes, the code fails on credits, not debits.  Here's the request id of one of the credit requests: OHM7e924f02640011e2adf5026ba7cd33d0

The request body is:

[code]

and the response body does not include "appears_on_statement_as".

Thanks!

[2013-01-22 18:18] mjallday commented on #59
Doh, totally got the method wrong. You're absolutely right, I'll create an issue for this since it appears to be the API, not the ruby client at fault here:

[code]

[2013-01-22 18:20] mjallday commented on #59
@seansu4you87, We've [created an issue](https://github.com/balanced/balanced-api/issues/246) where you can track progress of this, thanks for bringing it to our attention

[2013-01-22 19:07] seansu4you87 commented on #59
Thanks @mjallday !

[2013-02-22 01:27] mjallday opened #63 "Fix warnings"
I'm running the spec tests and getting a whole bunch of this

[code]

[2013-02-22 01:33] mjallday commented on #63
Clearly not an issue if the test that generates the warning is called `takes positional parameters` :)

[2013-02-22 01:33] #63 closed, assigned to nobody

[2013-03-04 02:39] mb-dev opened #66 "add_card returns account if card is already associated"
While testing the library, I added a credit card to the account using:
account.add_card(credit_card_uri)

the 2nd time I got back instance of account instead of card

[2013-03-04 02:40] mahmoudimus commented on #66
Thanks for reporting. I'll take a look and fix this ASAP.

[2013-03-04 19:46] mahmoudimus commented on #23
Since 1.8.7 is nearing end of life, this issue is not relevant.

[2013-03-04 19:46] #23 closed, assigned to nobody

[2013-03-14 00:02] mjallday opened #71 "Re-saving a bank account invalidates it"
This gist shows an example of a [bank account invalidating itself](https://gist.github.com/mjallday/5157581) when save is called a second time.

The issue is the way the balanced-ruby client serializes the account that is returned to the server. Since Balanced cannot parse the account as it is returned it takes this to mean "disassociate this bank account from the account" and invalidates it durin

[2013-03-16 23:39] mdchaney opened #72 "Balanced::Card#debit doesn't accept "on_behalf_of""
Balanced::Account#debit accepts "on_behalf_of" as a option, but Balanced::Card#debit does not.  It can be added simply by ignoring positionals (or make it arg[4]) and grabbing from options:

on_behalf_of = options.fetch(:on_behalf_of) { nil }

And then pass it in on the self.account.debit call below.

As an aside, it would also be useful to clean up the parameters to "debit" as well as the documen

[2013-03-22 17:47] mjallday opened #73 "Filtering on nested resources does not work"
I've created a [branch with a failing test](https://github.com/balanced/balanced-ruby/blob/card-filtering/spec/balanced/resources/card_spec.rb) for filtering valid cards from an account.

This should work

[code]

But currently it does not

[2013-03-23 21:37] jrochkind opened #74 "docs link in README wrong"
The README says:

But this does not actually get you to anything involving docs of this gem, no matter how many links you follow.

Actual docs are at:
https://www.balancedpayments.com/docs/api?language=ruby

or for generated rdocs: http://rubydoc.info/gems/balanced

(thanks Remear on support IRC)

Might be a lot less confusing if you corrected the README to have these links?

[2013-03-26 20:46] bb-cyrus commented on #71
I am seeing the same issue with cards.
I was trying to add a tag in the card's meta to indicate it's a default, but calling save on the card invalidates it.

card.meta["default"] = 1
puts "valid" if card.is_valid
card.save
puts "invalid" if !card.is_valid

[2013-03-27 20:20] bninja commented on #71
fixed in [0.7.0](https://github.com/balanced/balanced-ruby/commit/abe4284d9184b11a56f12f7a66d3f377a5e59d98)

[2013-03-27 21:01] jrus commented on #71
Hi folks,

It’s only a temporary fix, and not ideal, but it is possible to work around this by creating a new ruby object when updating. For instance, for @bb-cyrus's example above:

[code]

[2013-03-27 21:01] jrus commented on #71
Oh... or just update the client. thanks @bninja!

[2013-04-08 22:32] tanookiben commented on #74
Well the README does mention _tutorials_ and documentation as a description for the link. The overview page provides info on Balanced workflows (and some code snippets), so I wouldn't consider it to not be "tutorials and documentation."

The link to the API is at the top of the page as "API reference," without having to follow any links even.

[2013-04-08 22:41] jrochkind commented on #74
Okay, it's your call, it's your project.  It took me a while, and help on the IRC channel, to actually find the docs I needed to get started with the balanced ruby gem.  For me, the overview page was not the docs I needed to actually use the balanced ruby gem, I was lost.  But I may not be typical.

[2013-04-08 22:42] mahmoudimus commented on #74
@sicophrenic @jrochkind - we can add it to both. No problems. :)

[2013-04-09 16:11] mjallday opened #75 "Document how to enumerate objects associated with accounts etc"
Currently [the examples](https://github.com/balanced/balanced-ruby/blob/master/examples/examples.rb) show how to create credits/debits and refunds.

However there are no good examples of looking up existing objects after the fact.

e.g.
- Find an existing account, find an existing card associated with that account and create a charge for it
- Find an existing debit and create a partial refund on i

[2013-04-09 16:20] mjallday commented on #74
I just [added both links as well as a link to the examples](https://github.com/balanced/balanced-ruby/commit/3a9c66ae89b21e5ce366ed14b5d80298688103ce). Let us know if this is a good change!

[2013-04-09 16:21] #74 closed, assigned to nobody

[2013-04-12 18:27] #71 closed, assigned to nobody

[2013-04-13 17:48] jrochkind opened #76 "Use API to tokenize a card"
In my actual app I'm going to use the JS API to tokenize the credit card, yes.

But in testing, it is convenient to be able to have pure ruby code automatically create a tokenized card URI that I can test with, using one of the fake test credit card numbers.

From the [API docs](https://www.balancedpayments.com/docs/api?language=ruby#tokenize-a-card), I thought I'd be able to do something like thi

[2013-04-13 17:53] jrochkind commented on #76
Ah wait, I see the problem, the :uri parameter to Card.new should not be the marketplace uri, but... the marketplace uri with "/cards" on the end?  I'm probably supposed to get this some other way, not just hard-code it, hmm. I'm confused maybe.

[2013-04-13 19:45] mahmoudimus commented on #76
Just use

[code]

In fact, the client is smart to figure out the uri by itself, if you want to continue down the `Card.new` route: https://github.com/balanced/balanced-ruby/blob/master/examples/examples.rb#L52

However, I recommend using this method: https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/marketplace.rb#L179 instead.

[2013-04-13 19:45] #76 closed, assigned to nobody

[2013-04-13 19:50] jrochkind commented on #76
Aha, thank you, both those methods seem good!

I'm glad I filed the ticket, as I would not have figured out either of those from the docs -- the API docs under "tokenize a card" only give the Card.new example, and give it with an explicit URL, I had no idea I didn't need the URL, or that that other method was available!

[2013-04-13 19:51] mahmoudimus commented on #76
@jrochkind, it sounds like we actually need a reference for our clients (we seem to be missing that). I've prioritized it on our balanced/balanced-docs repository.

[2013-04-13 20:03] jrochkind commented on #76
Yep, as a developer/client I'd agree with that. You have a couple of things that seem to be an API reference, but don't do a great job of doing so -- both https://www.balancedpayments.com/docs/api , and language-specific ones like the generated rdoc.  But the rdoc is pretty bare-bones, and the docs/api seems to lead me in the wrong direction. Perhaps docs/api just needs more attention.

[2013-04-13 20:03] jrochkind commented on #76
(But the actual API itself never fails to impress me with the strength of it's design, once I figure out how to use it the right way!)

[2013-04-26 02:18] mahmoudimus commented on #59
This has now been fixed!

[2013-04-26 02:18] #59 closed, assigned to nobody

[2013-05-01 15:44] mjallday opened #77 "Class misnamed"
There should be a class called `Balanced::BankAccountVerification` however it's called `Balanced::Verification`.

This is an issue because in the documentation it's called a [BankAccountVerification](https://www.balancedpayments.com/docs/api?language=ruby#retrieve-a-verification-for-a-bank-account)

[2013-05-07 00:01] mjallday opened #79 "Implement the Customer resource."
We have a new [Customer resource](https://github.com/balanced/balanced-api/blob/master/resources/customers.rst).

With a customer you should be able to `debit`, `credit`, as well as `add_card` and `add_bank_account`. A customer should be able to tell you their `active_card` and `active_bank_account`.

[2013-05-07 22:36] bninja opened #80 "port scenarios from balanced-docs"

[2013-05-08 21:13] mjallday opened #81 "Build balanced-ruby with ruby 2.0"
Add ruby 2.0.0 to the .travis.yml

[2013-05-13 01:43] rloomba opened #84 "Balanced::Event.all request times out"
[code]

This example taken from https://docs.balancedpayments.com/current/api?language=ruby#list-all-events hangs and then eventually times out

[2013-05-14 22:13] mjallday commented on #84
The issue appears to be that it's fetching _all_ the events, two at a time. E.g. the `limit` param is not working how we would expect it to work but instead is acting as a page size param.

[2013-05-15 14:46] #79 closed, assigned to nobody

[2013-05-16 14:46] mjallday opened #85 "Customers documentation bugs"
The docstrings for the [`add_card`](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/customer.rb#L63) and [`add_bank_account`](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/customer.rb#L74) methods state they return the passed in objects but they return the customer object they are associated with.

[2013-05-23 05:34] mahmoudimus opened #88 "Invalid usage of Object.hash in customers.rb"
[`Balanced::Customer.add_bank_account`](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/customer.rb#L76) has a bug where `.hash` is accessed instead of `fingerprint`.

Also, `.hash` is a reserved method in Ruby, so, the `Balanced::Customer.add_card` is wrong as well.

[2013-05-23 05:35] mahmoudimus commented on #88
ping @rloomba

[2013-05-24 16:38] mjallday opened #89 "Check if class exists before trying to instantiate"
Currently balanced-ruby will [parse the uri](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced.rb#L50) and try to load a class by name even if it does not exist.

We need to change this behavior so that it logs a warning (e.g. `Resource <class_name> does not exist, you should upgrade to a newer version of balanced-ruby`) and does not explode in a flaming mess.

[2013-05-24 17:15] mjallday opened #90 "Ruby < 0.7.1 / Customers Error - Post Mortem"
On Thursday, May the 23rd at 5:48pm PST we expanded our deployment of the new [Customers resource](https://github.com/balanced/balanced-api/blob/master/resources/customers.rst) to include returning the customer object on all transactions as well as the marketplace.

Because the Ruby client tries to parse and instantiate objects within itself by [inspecting the URI](https://github.com/balanced/bala

[2013-05-24 17:15] #90 closed, assigned to nobody

[2013-06-06 15:56] mjallday commented on #73
There is a work around if you run into this bug until it's fixed:

[code]

[2013-06-07 21:14] Grantismo opened #91 "Account#add_card and Account#add_bank_account should accept Card and BankAccount objects as arguments"
[`Balanced::Account#add_card`](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/account.rb#L115)
should accept a `Balanced::Card` as an argument.

[`Balanced::Account#add_bank_account`](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/account.rb#L124)
should accept a `Balanced::BankAccount` as an argument.

[2013-06-13 06:37] taylorbrooks opened #95 "Add Bank Account parameter to create_buyer method for Marketplace Resource"

[2013-06-14 03:35] cyrusstoller commented on #91
+1

[2013-06-14 03:36] cyrusstoller commented on #85
+1

[2013-06-20 18:00] ajsharp opened #97 "Balanced::Card#debit when card not associated to an account"
Currently, there is no nil check for an account, so when the `Balanced::Card#debit` method is called and the card is not associated to an account, a fairly generic and hard-to-debug error bubbles up to client code:

[code]

What about doing a nil check, and if the account doesn't exist, raising an exception that clearly explains the issue? Happy to write a patch for this.

[2013-06-24 16:50] matthewfl opened #99 "change active_card and active_bank_account to match api change"
The api now supports setting the default card and bank account by PUTing to the source_uri and destination_uri.  Then the default source will be represented by the value of source_uri and destination_uri.

https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/customer.rb#L83

[2013-07-02 22:49] cieplak opened #102 "Events are broken!"
events = Balanced::Event.all(:limit => 2)

yields

NameError: uninitialized constant Balanced (member:Balanced)::Invoice

[2013-07-02 22:52] #102 closed, assigned to nobody

[2013-07-03 14:46] blim8183 commented on #102
Thanks guys!

[2013-07-09 15:54] mjallday opened #103 "Fix up error in bank account doc string"
From a customer

[2013-07-17 17:52] #97 closed, assigned to nobody

[2013-07-22 19:37] jrus commented on #77
Does the code currently work using 'Verification'? If so, is this maybe a documentation issue rather than a ruby client issue? What do the other client libraries do? Does existing customer code rely on this being called 'Verification'?

[2013-07-22 19:38] remear commented on #81
Is this resolved?

[2013-07-22 20:57] mjallday commented on #81
Yes! https://github.com/balanced/balanced-ruby/blob/master/.travis.yml

[2013-07-22 20:57] #81 closed, assigned to nobody

[2013-07-23 13:58] remear commented on #88
BankAccount has a fingerprint attribute so that change is simple.

Card has a hash attribute. What do you want to do about that?

[2013-07-23 16:45] remear opened #106 "Add find_by_email Method to Customer"
Add a find_by_email method to Customer like Account has

[2013-07-23 16:46] rpearce commented on #106
+1

[2013-07-24 16:00] mahmoudimus commented on #88
@remear brought up that `hash` on the `Balanced::Card` object is fine.

[2013-07-24 16:48] remear commented on #80
What remains to be ported?

[2013-07-24 16:55] remear commented on #8
Is Balanced still planning to return the nested merchant object?

Is this an API issue that should be moved to https://github.com/balanced/balanced-api/issues ?

[2013-07-24 16:59] mahmoudimus commented on #80
That's it - it's all ported I think

[2013-07-24 17:27] #106 closed, assigned to nobody

[2013-07-25 12:59] #80 closed, assigned to nobody

[2013-07-25 15:48] rpearce opened #110 "Searching Customers by email when unauthorized returns nil instead of 403"
Code:
Balanced::Customer.find(:first, email: 'user@email.com')

As a Balanced client
Given I have not executed Balanced.configure "#{MY SECRET KEY}"
When I search for a customer via email
I should receive a 403 (Forbidden) error

[2013-07-25 15:50] mahmoudimus commented on #110
@rpearce - woah, thanks for reporting. I'll fix. Thanks for the cucumber? test as well!

[2013-07-25 15:59] mjallday commented on #110
[code]

[2013-07-25 16:00] mjallday commented on #110
Seems correct to me:

http://en.wikipedia.org/wiki/List_of_HTTP_status_codes

**401 Unauthorized**
Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet been provided.[2] The response must include a WWW-Authenticate header field containing a challenge applicable to the requested resource. See Basic access authentication and Digest access a

[2013-07-25 16:00] #110 closed, assigned to nobody

[2013-07-25 16:01] mjallday commented on #110
@rpearce if you've can reproduce it consistently please re-open with an example and i'll look deeper into this.

[2013-07-25 16:17] mahmoudimus commented on #110
@rpearce 80337f7 passing test for expected outcome. Can you make a pull request to demonstrate your issue?

[2013-07-25 18:05] rpearce commented on #110
Damnit. I did it 5 times earlier; now I can't reproduce. There were connectivity issues earlier in the building, but there wasn't a timeout--it just returned nil.

Could it be that instead of throwing a connection failed error or a timeout when trying to connect to Balanced it returns nil?

Well, it works like a charm now; if I can reproduce again, then I'll make a pull request. Sorry for the appa

[2013-07-25 18:10] rpearce commented on #110
Okay: idiot alert.

I thought I was in irb, but was in rails console when this occurred. I am configuring Balanced in my environment files (production/staging/development), and when I searched for someone, I was testing the 403 error and thought I had not already configured Balanced, but I had already done so in the environment file, and the email I searched for was not in your system, so it retur

[2013-07-25 21:34] #88 closed, assigned to nobody

[2013-07-25 22:02] #91 closed, assigned to nobody

[2013-07-25 22:32] ajsharp opened #112 "Support for date-range queries"
You can do this manually already, it'd be great if the client made it a little easier:

[code]

[2013-07-25 22:56] ajsharp commented on #112
Possible interfaces:

[code]

Obviously, the last two options would require some type of scoping support in general.

[2013-07-27 22:29] remear opened #113 "Delete Customer"
The API allows for the deletion of Customers "so long as there has been no activity associated with it such as creating a hold, credit, or debit"

This ability needs to be added.

[2013-07-28 18:31] remear commented on #113
Looks like you can do customer.unstore which calls destroy, https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/resource.rb#L70. Seems this is available only in master and not in the latest version on rubygems, 0.7.2. <= 0.7.2 only has destroy.

Since it appears from other issue discussions that unstore is the standard, I will create an example in examples/customers.rb for

[2013-07-30 18:35] dclausen opened #114 "increase timeout"
Increase Faraday timeout to 60 seconds to help prevent slow transactions from causing duplicate debits

[2013-07-30 20:17] remear opened #116 "Method Comments Returned Object Incorrect"
https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/customer.rb#L76

Customer.add_card method comment states a Card will be returned. A Customer is returned.

https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/customer.rb#L87

Customer.add_bank_account method comment states a BankAccount will be returned. A Customer is returned.

https://github.co

[2013-07-30 20:22] #114 closed, assigned to nobody

[2013-07-31 19:23] #116 closed, assigned to nobody

[2013-08-05 14:48] #103 closed, assigned to nobody

[2013-08-05 14:53] #85 closed, assigned to nobody

[2013-08-07 10:50] mpolakis opened #121 "Hold description not set?"
I'm doing something like :

[code]

Amount and meta attributes are set, while description is not.

Also, when voiding a hold, I can't pass the "appears_on_statement_as" parameter : ArgumentError: wrong number of arguments (1 for 0)

Please fix and edit your documentation.

[2013-08-08 14:56] blim8183 opened #122 "postal_code method on Balanced::Card doesn't always exist"
If I load a a card with no postal code and call postal_code on it, I get the following error:

[code]

However, after loading a card that does have a postal code, the original item will return "nil" instead of blowing up.

[2013-08-08 15:36] mjallday commented on #122
@blim8183 it looks like this field is only returned on valid cards, on invalid (e.g. deleted) cards it is not returned.

Does this correspond with what you're seeing or is it not being returned on a valid card? If it's the latter please provide us with the URI of the card in question and we'll look at what's going on.

[2013-08-08 15:42] blim8183 commented on #122
/marketplaces/MP3Qbrqi8eRZpdzVU3jtQewu/cards/CC1t74WFG31XgNbecvpDLuiW

That is a valid card that was tokenized and associated with a customer without ever including a postal code

[2013-08-08 15:51] mjallday commented on #122
Thanks for that, we've found the issue and will release a fix to ensure the field is consistently returned on card objects. We'll update this github issue once it's been resolved and deployed.

For whoever fixes this - the view for the address fields defaults to `pez.SKIP`, adding `default=None` should resolve this issue.

[code]

[2013-08-09 02:08] mjallday commented on #122
@blim8183 this should now be fixed, please reopen if it's not working as you expected

[code]

[2013-08-09 02:08] #122 closed, assigned to nobody

[2013-08-11 20:27] cieplak opened #124 "Ruby Gem Out of Date"

[2013-08-11 20:35] mjallday commented on #124
Latest version was published on August 6th  - https://rubygems.org/gems/balanced

What specifically is out of date? There doesn't appear to have been any changes except documentation updates since then.

The latest version is 0.7.4, make sure you're on that.

[2013-08-11 20:36] #124 closed, assigned to nobody

[2013-08-15 18:29] cieplak opened #125 "Balanced::Customer.find(<Account URI>) returns Account Object"

[2013-08-15 18:43] mjallday commented on #125
Dupe of #25

[2013-08-15 18:43] #125 closed, assigned to nobody

[2013-09-16 14:47] remear commented on #99
There is now a bug where default card is being set something other than the newest when source_uri isn't explicitly set.

[2013-09-16 15:34] mjallday commented on #99
A good solution here may be to only send data that has been updated on the resource to the server instead of echoing back everything. However, why does the `source_uri` come back if it's not already the default?

[2013-10-21 20:07] #29 closed, assigned to nobody

[2013-11-02 10:40] jonthewayne opened #132 "undefined method 'account' on ba-credit-meta branch"
@remear I tested the branch you sent me the day before yesterday. It was meant to solve the problem of meta info not being saved when crediting an account. I tested it and got the error:

undefined method `account' for #Balanced::BankAccount:0x007f9f27b6db68

[2014-01-02 21:09] jondkinney opened #134 "When testing in rspec, you can't expect an exception to be raised without any arguments, which seems to go against standard rspec testing practices"
Take the following controller spec example.

[code]

You can see and_raise(Balanced::BankAccountVerificationFailure, {}) requires a second argument, an empty hash (a string won't do).

If I omit the empty hash I receive the following error:

[code]

I spoke with some folks in the rspec room on IRC and while the specifics are a bit above my head, they mentioned that it seems your custom Exception c

[2014-01-02 21:12] steveklabnik commented on #134
Yeah, seems like https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/error.rb#L8 and https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/error.rb#L55 needs a deafult.

[2014-01-06 16:02] mjallday commented on #134
I think it's legitimate to require these exceptions to take an argument since they expect to be able to populate certain properties on themselves from this information.

You _could_ make the base [error constructor](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/error.rb#L8) take a null argument but then accessing any properties on the error is going have unexpected consequence

[2014-01-06 16:02] #134 closed, assigned to nobody

[2014-01-06 16:46] jondkinney commented on #134
@mjallday I hear what you're saying there with wanting to require more specificity, but it seems to me that additional specificity should be optional in this case. Perhaps you'd want to test that the exception raised had a certain 'state' or 'category_code' in a given context, but a lot of times the fact that the exception was raised at all is enough for a test.

If nothing else, I think modifying

[2014-01-06 18:37] steveklabnik commented on #134
I can see both sides of this.

@myronmarston what do you think about this?

[2014-01-06 19:03] myronmarston commented on #134
RSpec does support `and_raise(exception_instance)`, so users can always instantiate the exception class themselves with whatever arguments are needed.

Whether or not you define your exception classes to be instantiatable with no arguments is up to you.  I think it comes down to how much you optimize your library for testability. Making exception classes instantiatable with no arguments makes it e

[2014-01-06 19:07] steveklabnik commented on #134
:heart:

Well, since it won't be useful _other_ than for testing, I think erring on the side of what we already have makes sense. If someone can present a strong argument for changing it, I'm totally open to, but seems to me like it's good for now.

[2014-01-06 22:30] mjallday opened #135 "Add a root find method."
e.g. `Balanced::.find(...)` which takes a uri or an ID and returns the appropriate resource.

[2014-01-13 17:16] adambarthelson opened #136 "Balanced::Customer Debit method charging incorrect cards"
The 'debit' method for Balanced::Customer is charging cards that were previously added to the list of customer's cards, instead of charging the 'active card'.

[code]

[2014-01-13 17:24] adambarthelson commented on #136
I assume this has to do with the bug where the default card is being set to something other than the newest when source_uri isn't explicitly set?

[2014-01-13 18:15] mjallday commented on #136
It _should_ use the most recently added card when no explicitly set funding instrument is used.

Let me write a script to confirm that this is reproducible locally.

In the meantime I recommend that you debit the funding instrument you want to use explicitly. e.g. `bank_account.debit(:amount => amount)`. This pattern is where we're moving in the next revision of the documentation, we're de-emphasi

[2014-01-14 17:02] mjallday commented on #136
Here's the test script I wrote

[code]

And it does indeed seem to not work as expected (code snipped for brevity):

[code]

[2014-01-16 02:34] mjallday commented on #136
One of our engineers, @victorlin, diagnosed the issue. What's happening is we are setting the first card_uri as the source when we add the second card and then is causing the first card to be set as the primary funding source.

The API is behaving as intended, this is something to do with the way our ruby and python client's are written.

To quote Victor:

[code]

[code]

[code]

The correct solut

[2014-01-17 17:44] ginter opened #137 "Balanced::BankAccount#debit undefined method `account'"
I get an undefined method account when trying to debit a bank account.

From looking through the library, BankAccount#debit forwards to account.debit, but the API doesn't seem to include an account resource in the response, only a customer resource, so the method is never dynamically created.

The card resource, on the other hand, does include both an account and a customer resource, so that works

[2014-01-17 23:16] mjallday commented on #137
Chris, is the bank account associated to a customer? If not that will be the issue. This is a [bug within the ruby client](https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/bank_account.rb#L43) library. It should use its own `debits_uri` to create the debit, not the account. We'll get that fixed.

As a work around you should be able to use the following code:

[code]

We

[2014-01-23 17:18] adambarthelson opened #139 "Segmentation fault after calling a Balanced::Customer's active_card from controller"
[code]

Running this from the rails console works fine, but from a web server (I've tried Webrick, Thin, Unicorn) it hangs after active card is returned in render.

Ruby versions 1.9.3. p327 falcon patched as well as 1.9.3 p 484

balanced-0.7.4/lib/balanced/resources/resource.rb#contruct_from_response, payload being a successful response, returning the instance, in the action controller's (actionp

[2014-01-23 17:41] adambarthelson commented on #139
Was using Faraday 0.8.9, locking faraday at 0.8.8 didn't fix.

[2014-01-23 18:22] steveklabnik commented on #139
Because we don't have any C code, it shouldn't be possible for us to segfault. That said, in theory, we could do something to trigger a bug in a dependency, maybe, but the bug would be there, not here.

Does this happen without the falcon patches?

Also, random note: you've only got about a year left for 1.9.3, you should upgrade: https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on

[2014-01-23 22:39] adambarthelson commented on #139
I noticed the update about 1.9.3 while reinstalling ruby a couple times trying to fix this lol.

While bisecting commits I found that the problem may have come after someone else had explicitly added the 'faraday_middleware' gem.  Still trying to figure it out.

[2014-01-23 22:40] adambarthelson commented on #139
This happens with and without falcon patches.

[2014-01-24 21:12] adambarthelson commented on #139
Found the issue, not Balanced related.  A segmentation fault was caused by cleanup_view_runtime exploding when an array became too large.

Surprise!  300 million elements. oops

[2014-01-24 21:12] #139 closed, assigned to nobody

[2014-01-24 21:46] mjallday commented on #139
Thanks for letting us know the resolution @adambarthelson

[2014-01-26 02:29] aimee-ault commented on #113
FYI: This same issue also exists with Card. destroy works, unstore, which is what's used in the scenarios in this repo, does not work.

[2014-01-27 19:28] remear opened #140 "Make marketplace funding instrument transactions more convenient"
These should probably be more convenient:

[code]

[code]

[2014-01-28 23:50] mjallday opened #143 "Add revision aware content-type header."
See https://github.com/balanced/balanced-python/commit/afe7482d797c765be5f59d5ae8fe95ec6576c1a0 and https://github.com/balanced/balanced-api/issues/493

[2014-01-29 03:44] #143 closed, assigned to nobody

[2014-02-01 18:48] aimee-ault opened #146 "No way to issue refund without knowing optional debit URI"
The API documentation indicates that the debit URI is an optional value (https://docs.balancedpayments.com/current/api#issue-a-refund), however the only way using this library to initiate a refund is using a Debit object fetched by debit URI. There should be a method on the Customer object that also allows you to initiate a refund.

[2014-02-03 16:37] mjallday commented on #146
@aimee-ault Balanced does not know what to refund if you don't provide the debit.

The reason the debit uri is optional is because it can be implicit in the URL e.g. `/debits/WD12312312/refunds` already has the debit in the prefix of the string so it doesn't need to be explicitly passed.

Using the ruby client you can do this one of two ways:
1. `Balanced::Debit.find('/debits/WD123123').refund(amo

[2014-02-03 16:37] #146 closed, assigned to nobody

[2014-02-04 02:13] mjallday opened #147 "Run test results through a validator"
https://github.com/balanced/balanced-api/tree/revision1/fixtures

[2014-02-04 22:26] aimee-ault commented on #146
Ah, that's fair. Thanks for answering!

[2014-02-05 22:10] mjallday opened #148 "RM customer.debit and customer.credit"
I believe 1.1 should encourage operating on funding instruments directly, not customers

https://github.com/balanced/balanced-ruby/blob/master/lib/balanced/resources/customer.rb#L31-L43

[2014-02-05 22:11] mjallday opened #149 "customer.create_order"
Make it easy for me to create an order.

similar to #140

[2014-02-05 22:20] mjallday commented on #149
Oops. Already exists!

[2014-02-05 22:20] #149 closed, assigned to nobody

[2014-02-05 23:41] remear commented on #148
I agree.

[2014-02-06 18:16] #148 closed, assigned to nobody

[2014-02-08 06:09] dylanjha commented on #29
What's the best practice for stubbing out network calls?

[2014-02-08 06:47] dylanjha opened #152 "Best practice for stubbing network calls in tests?"

[2014-02-08 16:14] adambarthelson commented on #152
For finding customers I've just used:

[code]

You can stick these in a method to and just pass it emails or parameters that you need for the url, keeping your tests a little cleaner.

[2014-02-08 21:47] dylanjha commented on #152
you're using this library? https://github.com/bblimke/webmock

[2014-02-09 00:54] adambarthelson commented on #152
Correct, if that works for your case I'd probably close the issue.  I'd expect they'd prefer to see this on stackoverflow than in open issues.

[2014-02-09 02:46] mahmoudimus commented on #152
@adambarthelson @dylanjha yeah there's a stackoverflow issue, http://stackoverflow.com/questions/11890336/whats-the-best-way-to-stub-out-network-calls-with-faraday-in-the-balanced-ruby/13021694#13021694

Does this help?

[2014-02-09 03:15] dylanjha commented on #152
@mahmoudimus thank you, I saw that question. that answer helped but I wasn't sure if there were some other ways/alternatives.  I've add this as an answer to that stack overflow question of yours.  Thanks.

[2014-02-09 03:15] #152 closed, assigned to nobody

[2014-02-13 06:16] sithara opened #153 "Find all credits with status failed"
Is there a way to find records or reports with status failed.

I have seen the find method..but can I add extra conditions to it ?

[2014-02-13 17:03] mjallday commented on #153
Thanks for bringing this up @sithara, we have an open ticket to add examples of how to query and filter in the docs balanced/balanced-docs#8

The syntax you're looking for is `Balanced::Debit.all(:status => 'failed')` where failed can be any state on a transaction.

Let us know if you have any issues.

[2014-02-13 18:09] sithara commented on #153
Just curious what if the admin make un-wanted debits from a customers
account.there could be chances of misuse ..is there a debit blocking
condition or something of that sort ?

On Thursday, February 13, 2014, Marshall Jones notifications@github.com
wrote:

[2014-02-13 18:14] mjallday commented on #153
Sorry, I don't understand the question. If you're a marketplace owner you can do anything with the customer's card but you're also on the hook for any dispute charges that result from misuse.

[2014-02-13 18:26] sithara commented on #153
Okies I got my answer .sorry but I have one more doubt
I'm creating an app .What I'm doing is wen a customer enters his persnl
information in my site..I'm creating a customer ,creating an account using
his bank information n linking the account to that customer profile in
balanced to credit his account.im saving the bank account token for future
reference of that account. http://account.is/

Is th

[2014-02-13 20:15] mjallday commented on #153
yes.

[2014-02-18 19:39] nealtovsen opened #155 "Implement/Follow Semantic Versioning"
Ruby Gems should follow Semantic Versioning, per http://semver.org/

The latest version (0.7.5) implements a breaking change by refactoring #destroy to #unstore (0.7.2), which does not meet Semantic Versioning guidelines. This causes considerable pain for users of the gem.

[2014-02-18 19:43] mjallday commented on #155
+1 for the general concept.

It looks to me like [`unstore`](https://github.com/balanced/balanced-ruby/blame/rev0/lib/balanced/resources/resource.rb#L70) was an additive change tho, it didn't remove any existing functionality.

What's breaking for you?

[2014-02-18 21:29] nealtovsen commented on #155
OK. I'm going to close this as it looks like it was some sort of mistake my part.

The actual mistake was getting myself lost in the commits/versions here while trying to figure out what was going on in our software. I must've looked at something backward and jumped to a bad conclusion.

But, FWIW, the source of it all started with some bundler behavior I still can't quite figure out. It looks lik

[2014-02-18 21:29] #155 closed, assigned to nobody

[2014-02-23 14:36] ChrisGF opened #156 "1.1: Customer DOB is broken on update."
I am not sure exactly what is happening but I know that the dob field is being trashed on update.

From what I can tell the fetch is returning the object with the date being broken out into parts.   I passed "1974-04-05" as the dob input to both calls.   To see what was going on I added some logging to the initialize and save methods.   Here is the output from the two calls.   Both calls included

[2014-02-23 15:16] ChrisGF commented on #156
This might not be a gem issue.. I am writing an irb script to reproduce.

[2014-02-23 15:41] ChrisGF commented on #156
Nevermind it was a poorly placed comma in the code:

[2014-02-23 15:41] #156 closed, assigned to nobody

[2014-02-27 22:32] mjallday opened #157 "Write a test for sideloading"
Given the payload

[code]

Make sure that this client library does not choke and return the wrong object.

[2014-03-02 18:37] taylorbrooks commented on #153
@mjallday I'm trying to find failed debits originating from a Bank Account. I'm using a similar query to yours above, then iterating over the debits. Like so:

[code]

The problem here is that the debit `source` class is sometimes:

[code]

Why would it return a hash? Using 0.7.4

[2014-03-03 13:38] sithara commented on #153
hi marshall

now all of a sudden I'm getting an error when I try to access
Balanced::Customer

Its giving me unintialized constant.

[2014-03-03 15:35] mjallday commented on #153
@sithara @taylorbrooks can you please open new issues for both these questions?

[2014-03-03 15:47] taylorbrooks opened #158 "Balanced::Debit.source sometimes returns a Hash"
I'm trying to find failed debits originating from a Bank Account. Like so:

[code]

The problem here is that the debit `source` class is sometimes:

[code]

Why would it return a hash? Shouldn't it always return either a Card or BankAccount object? I'm using 0.7.4 version of the gem.

[2014-03-03 16:12] mjallday commented on #158
@taylorbrooks that is odd. Can I see the output of the funding instrument that's represented by the hash?

i suspect there's something odd about the bank account/card e.g. it has been deleted and the client library is having trouble figuring out the type.

[2014-03-03 17:14] sithara opened #159 "Balanced::Customer uninitialised constant error ruby"
now all of a sudden I'm getting an error when I try to access Balanced::Customer

Its giving me unintialized constant.

[2014-03-03 17:24] mjallday commented on #159
This is not enough information to debug this issue.
- which version of balanced-ruby are you using?
- can you provide a gist reproducing this error consistently using a clean environment?

[2014-03-03 18:53] taylorbrooks commented on #158
[code]

[2014-03-03 19:01] mjallday commented on #158
Thanks. It is indeed a deleted funding instrument.

It looks like the [code requires a URI](https://github.com/balanced/balanced-ruby/blob/rev0/lib/balanced/resources/resource.rb#L183) in order to determine the object type.

Balanced needs to return URIs for all resources even if they have been deleted. This needs to be implemented in the API before we can fix it in the client libraries. I suspect

[2014-03-03 19:41] taylorbrooks commented on #158
Ok, got it.

1) Will 1.0 have breaking changes?
2) When will 1.0 be pushed to RubyGems?

[2014-03-04 03:48] sithara commented on #159
balanced (0.7.4)
ruby 2.0.0
rails 4.0.2

rails console
Loading development environment (Rails 4.0.2)
2.0.0p247 :001 > require "balanced"
 => false
2.0.0p247 :002 >  Balanced::Credit
 => Balanced::Credit
2.0.0p247 :003 >  Balanced::Debit
 => Balanced::Debit
2.0.0p247 :004 >  Balanced::Customer
NameError: uninitialized constant Balanced::Customer
    from (irb):4
    from /home/sithara/.rvm/gems/rub

[2014-03-04 03:48] sithara commented on #159
balanced (0.7.4)
ruby 2.0.0
rails 4.0.2

[code]

[2014-03-04 04:04] mjallday commented on #159
Looks like the customer resource was implemented in 0.7.1 so it's not a version issue.

Can you run https://github.com/balanced/balanced-ruby/blob/0.7.4/examples/customers.rb  ?

I'd be very surprised if this is an issue with the gem itself since the [tests all pass](https://github.com/balanced/balanced-ruby/blob/0.7.4/spec/balanced/resources/customer_spec.rb).

Have you tried starting with the ba

[2014-03-04 06:06] sithara commented on #159
Sorry Marshall.I was looking at my gem list but my balanced version was
locked at 0.6.I upgraded it to 0.7 and got it working.

On Tue, Mar 4, 2014 at 9:34 AM, Marshall Jones notifications@github.comwrote:

[2014-03-04 16:16] sgrshah opened #160 "Improve offset functionality"
Every month we pull all of our balanced debits and refunds, which I'm sure many companies do. To cycle through all of our transactions we provide a limit of 25 and increase the offset by 25 each time. However, if we sell more products while pulling the transactions, the offset seems to change. So, instead of pulling the 1000-1025 it pulls 999-1024 creating duplicates in our data set. Would be grea

[2014-03-04 16:29] mjallday commented on #160
You're right that some sort of frozen pagination would be a good solution.

In the meantime you can specify a sort order for the Balanced ruby client and that will work just as well for your use-case:

[code]

will return all credits sorted by `created_at` ascending.

[2014-03-04 16:29] #160 closed, assigned to nobody

[2014-03-05 00:21] #159 closed, assigned to nobody

[2014-03-07 01:53] steveklabnik commented on #121
Apparently @peterkitchit is having this issue too.

@remear , have any ideas?

[2014-03-07 01:54] steveklabnik commented on #121
01:53 < peter_kitchit> holds created by .debit have description, but not holds created by .hold

[2014-03-07 01:56] ghost commented on #121
Seems to still be an issue, at least in 0.7.4

[2014-03-10 15:31] mjallday commented on #158
1. 1.0 is the current version you're using. There are no breaking changes in that. 1.1 is the new revision and it is largely backwards compatible but not a drop-in replacement. If you're using the deprecated Accounts still you need to switch to customers.
2. There is a [pre-release version](https://rubygems.org/gems/balanced/versions/1.0.beta1). Nothing's going to change as far as I know beyond th

[2014-03-10 18:37] rserna2010 opened #162 "Definition for associate a card is incorrect in scenarios"
https://docs.balancedpayments.com/1.1/api/customers/#associate-a-card

I'll take care of this

[2014-03-10 22:58] remear commented on #121
Can you find a log in your Dashboard where you created a hold and supplied a description and see if it shows up in the payload. If it doesn't, there might be an issue in balanced-ruby. If it's there, then either there's an API issue, or `description` is not supported on holds.

[2014-03-10 22:59] remear commented on #113
v1.0 has been standardized to use unstore in most delete operations. If you experience any other issues, please open another issue and let us know.

[2014-03-10 22:59] #113 closed, assigned to nobody

[2014-03-10 23:00] remear commented on #77
Resolved in v1.0

[2014-03-10 23:00] #77 closed, assigned to nobody

[2014-03-10 23:01] ghost commented on #121
I just check the logs, it is not in the request body. May be an issue with balanced-ruby. I'm on 0.7.5.

[2014-03-10 23:01] #43 closed, assigned to nobody

[2014-03-10 23:02] #8 closed, assigned to mahmoudimus

[2014-03-10 23:02] #132 closed, assigned to nobody

[2014-03-10 23:05] remear commented on #99
v1.0 now operates around FundingInstruments and not through Customer.

[2014-03-10 23:05] #99 closed, assigned to nobody

[2014-03-10 23:08] remear commented on #66
Stale. v1.0 now operates directly on FundingInstruments, so `card.associate_to_customer(customer)`

[2014-03-10 23:08] #66 closed, assigned to nobody

[2014-03-10 23:10] #95 closed, assigned to nobody

[2014-03-10 23:15] mjallday commented on #75
Where can I find these examples? Are we deprecating examples? If so, are there scenarios that show this?

[2014-03-10 23:26] remear commented on #75
I think we should deprecate the examples. They seem to atrophy and the docs really should be the definitive source of examples for the client libraries. Most areas in the API Reference now have scenarios for updating resources which used to be a large source of confusion. For example, https://docs.balancedpayments.com/1.1/api/cards/#update-a-card. If this isn't what you meant, let me know. I think

[2014-03-10 23:27] remear commented on #72
Stale. The [Order](https://github.com/balanced/balanced-api/issues/527) resource is now used to associate debits and credits.

[2014-03-10 23:27] #72 closed, assigned to nobody

[2014-03-10 23:54] mjallday commented on #75
The help docs show how to CRUD resources. I'm looking for examples of workflows.
- How do I filter and query resources?
- How do I create a bank account, verify it and debit it?
- How do I create a webhook and view the events that are sent to it?
- How do I create an order, add several debits to it and then pay out some funds to the merchant?
- " " but with refunds involved.

[2014-03-10 23:55] remear commented on #75
Yeah, these are all planned guides.

[2014-03-10 23:56] mjallday commented on #75
It would be nice if we maintained them until there's an alternative then.

[2014-03-11 15:22] remear opened #164 "fetch for nil or empty string results in RuntimeError: NOT SUPPORTED YET"

[2014-03-12 15:37] #164 closed, assigned to nobody

[2014-03-12 15:37] #162 closed, assigned to nobody

[2014-03-12 19:08] remear commented on #121
@peterkitchit Would you please link me to the log.

[2014-03-17 21:15] ghost commented on #121
@remear https://dashboard.balancedpayments.com/#/marketplaces/TEST-MP1d59tohwSRZnBesxXQ2zDw/logs/OHM894e78f2a8a711e39751026ba7d31e6f

[2014-03-19 19:14] ghost commented on #121
Yeah, I just checked out the 0.8.0 branch. Hold descriptions are not set in the ruby gem.

Balanced::Account#hold does not include the code to set descriptions.

Could we get this fixed. It is quite inconvenient for us.

[2014-03-19 20:44] #153 closed, assigned to nobody

[2014-03-19 20:46] mjallday commented on #121
@peterkitchit we've released [0.8.1](https://github.com/balanced/balanced-ruby/tree/v0.8.1) which should address this issue. You can view the changes on this commit - https://github.com/balanced/balanced-ruby/commit/363007432dd99bcaa124efaeef6f19d7f6a86894

We'll upload to ruby-gems shortly.

[2014-03-19 20:46] #121 closed, assigned to nobody

[2014-03-28 18:20] jbrowning opened #166 "Balanced::Debit.new results in Balanced::InternalServerError"
Gem version: **1.0.1**

[According to the documentation](https://docs.balancedpayments.com/1.1/api/debits/#create-a-card-debit), a Debit may be created with the following parameters:
- `amount` - The amount of the debit in cents
- `source` - The funding instrument debited

However, doing so with `Balanced::Debit.new` results in an `Balanced::InternalServerError` being raised:

[code]

[2014-03-28 21:09] rserna2010 opened #167 "Tokenizing a card directly without passing an address will return state=> 'CA'"
card = Balanced::Card.new(
  :cvv => '123',
  :expiration_month => '12',
  :expiration_year => '2020',
  :number => '5105105105105100',
  :address => {
    :city=> "BROOKLYN",
    :line1=> "219 17TH STREET",
    :postal_code=> "11215",
    :country_code=> "USA"
  }
).save

https://dashboard.balancedpayments.com/#/marketplaces/TEST-MPJ1TvJrxnGlUGPG0Fpa0ey/logs/OHM6c91eddeb6bc11e3a2f602a1fe53e539

[2014-03-28 21:15] rserna2010 commented on #167
Actually it's not exclusive to ruby, happens in Balanced.js as well. Guessing it's an api issue. Closing the issue.

[2014-03-28 21:15] #167 closed, assigned to nobody

[2014-03-28 22:11] blim8183 commented on #167
Is there a story in the api project that I can follow?

[2014-03-28 22:12] mjallday commented on #167
@blim8183 balanced/balanced-api#552

[2014-03-29 03:40] dmastylo opened #168 "Unstoring sometimes takes a long time"
On Heroku with production keys unstoring a customer without a credit card associated can sometimes take a long time, ie >10 seconds, to get a response. Not sure if this is an isolated hiccup or if this is common.

[2014-04-07 15:38] remear commented on #168
Response times often depend on API load. This isn't a client issue so I'm closing this. If unstore response times start taking longer than this, feel free to open an issue at https://github.com/balanced/balanced-api/issues.

[2014-04-07 15:38] #168 closed, assigned to nobody

[2014-04-18 15:06] mjallday commented on #166
We have a pull-request waiting to be merged that will fix this. Hopefully it will be out today or Monday.

[2014-04-22 00:17] remear opened #172 "Update faraday dependency"
faraday_middleware now works with faraday 0.9. We can now loosen the faraday version requirements in balanced-ruby.

[2014-04-23 07:52] EMRJ opened #173 "Faraday error"
Couldn't start getting following error
`method_missing': undefined method`register_middleware' for # Faraday::Connection:0x00000002513f18> (NoMethodError)

gems I installed
**\* LOCAL GEMS ***
faraday (0.9.0)
faraday_middleware (0.9.1)

[2014-04-23 15:28] mjallday commented on #173
The balanced gem has a [dependency on faraday 0.8.6](https://github.com/balanced/balanced-ruby/blob/master/balanced.gemspec#L13) so I suspect that's the issue here.

We can look at what's involved with upgrading, personally I'm not sure what the differences are between those versions but it sounds like it's not a drop-in replacement.

[2014-04-23 15:29] mjallday commented on #173
Noting that #172 will let us relax this dependency.

[2014-04-23 15:32] remear commented on #173
@EMRJ Would you create a gist (https://gist.github.com) of the output of `bundle list` and link it here. Also, was this on any particular API call?

[2014-04-23 16:45] mjallday commented on #166
This has been resolved.

[code]

**BEFORE**

[code]

**AFTER**

[code]

[2014-04-23 16:45] #166 closed, assigned to nobody

[2014-04-23 23:41] remear commented on #173
balanced-ruby is not yet compatible with faraday 0.9.0. We'll work on fixing this. For now you should use faraday 0.8.6.

[2014-04-24 16:43] remear commented on #173
Appears to be a bug in faraday when used with VCR. https://github.com/vcr/vcr/issues/386

[2014-04-24 19:17] remear opened #176 "Restrict faraday dependency for 0.x"
Require < 0.9 for faraday for 0.x

[2014-04-24 20:26] ptrln commented on #176
I've submitted a pull request for this: https://github.com/balanced/balanced-ruby/pull/177

[2014-04-25 17:06] #176 closed, assigned to nobody

[2014-04-28 18:48] #173 closed, assigned to nobody

[2014-04-28 19:33] #172 closed, assigned to nobody

[2014-04-29 00:18] taylorbrooks opened #178 "Fetch Balanced::FundInstrument or Allow debiting for Balanced::Customer"
I'm upgrading to `v1.1` API, one of the nice things about the prior version was being able to call `Balanced::Account.debit` and Balanced would figure out the last valid fund instrument and take care of the rest. Now that is not possible.

It would be nice to be able to fetch a funding instrument by passing `/cards/:uri` or `/bank_accounts/:uri` and have the proper instrument returned vs. having t

[2014-04-29 00:24] taylorbrooks commented on #178
Another thought would be allowing the Debit resource to pass `source_uri` as an argument, instead of first having to fetch the instrument.

[2014-04-29 00:26] mjallday commented on #178
you can do that,

[code]

I believe that should work.

[2014-04-29 00:31] taylorbrooks commented on #178
Yep, that worked. Didn't see it documented here: https://docs.balancedpayments.com/1.1/api/debits/

[2014-04-29 00:38] mjallday commented on #178
Thanks for bringing it up @taylorbrooks, we've opened an issue to rectify this on the docs repo balanced/balanced-docs#396

[2014-04-29 00:38] #178 closed, assigned to nobody

[2014-04-29 14:03] mjallday commented on #178
@taylorbrooks we've reverted a change to the docs which accidentally caused the issue. Docs should be clearer now! thanks for letting us know.

[2014-04-30 22:28] remear opened #179 "Push to card specs and scenarios"

[2014-05-15 22:02] matin commented on #179
How's this looking?

I want to make sure I've accounted for the right scenarios in https://github.com/balanced/balanced-api/pull/580

[2014-05-16 15:30] matin commented on #179
@remear The build is passing. Does that mean that the client lib is good to go for Push to Card support?

[2014-05-19 21:47] remear commented on #179
This has been added to master.

[2014-05-19 21:47] #179 closed, assigned to nobody

[2014-06-09 17:48] rserna2010 opened #184 "Rev0 Holds scenario appears incorrect"
Tho the specs / examples show this same syntax:
https://docs.balancedpayments.com/1.0/overview/processing/#holds

It returns: NoMethodError: undefined method `hold' for  #<Balanced::Customer

This syntax works instead:
hold = Balanced::Hold.new(:source_uri => "/v1/customers/ACO702cHD2tPiOCRSKYzVf1/cards/CCQv8XnGsBHF9afrEdc0um3", :amount=>500)
hold.save

[2014-08-01 01:33] fedesoria opened #187 "Duplicate Customers"
When calling `Balanced::Customer.new(customer_data)` it should return a response that the Customer already exists with the `customer_uri` so we don't end up with duplicates of customers.

[2014-08-01 01:35] remear commented on #187
This isn't a balanced-ruby issue. If you'd like to propose this as an API feature, you're welcome to open an issue at https://github.com/balanced/balanced-api/issues

[2014-08-01 01:35] #187 closed, assigned to nobody

[2014-08-01 01:36] fedesoria commented on #187
Thanks.

[2014-08-13 23:17] p-han opened #190 "Please release a new version"
1.0.3 requires faraday < 0.9.0 which makes it incompatible with grape 0.8.0.

[2014-08-14 14:38] remear commented on #190
@p-han There is no balanced-ruby 1.0.3. The latest version of balanced-ruby (1.1.1) specifies faraday <= 0.9.0, >= 0.8.6

[2014-08-14 16:13] p-han commented on #190
I was confused with something, please disregard.

[2014-08-14 16:13] #190 closed, assigned to nobody

[2014-10-01 19:52] taylorbrooks opened #199 "Add support for Invoices"
Looks like this works: `curl https://api.balancedpayments.com/invoices -H "Accept: application/vnd.api+json;revision=1.1" -u ak-test-GHsDIaWXkvZIo89IMWPrYTxfhAXTWVI0:`

[2014-10-01 19:57] remear commented on #199
The Invoice resource is not officially spec'd and documented and is therefore subject to change. Once it's defined in an API spec and documented we'll definitely add support for it here.

I'd appreciate your comments on https://github.com/balanced/balanced-api/issues/307 to voice your desire for this feature.

[2014-10-01 19:57] #199 closed, assigned to nobody

[2014-11-08 19:11] TimKJones opened #200 "BankAccount created on front-end but later does not exist"
A user added a bank account, whose id was posted to the back-end to be associated with that user's Customer resource. When that id was fetched server-side, it did not exist. This has happened a couple times, but I can't figure out the exact circumstances that cause it to happen. I would assume that the BankAccount resource was created successfully if an id was returned, but that doesn't seem to be

[2014-11-09 00:49] remear commented on #200
- How long generally elapses between the user-side tokenization of the funding instrument and the time you attempt to fetch it?
- What version of balanced-ruby are you using?

We'd gladly look deeper into this if you could provide that reproducible example, funding instrument hrefs, and OHMs of these tokenizations and server-side authenticated requests to fetch the funding instrument.

[2014-11-11 00:47] TimKJones commented on #200
Thanks for looking into this!
- After the funding instrument is tokenized, it is immediately POSTed to our server, where it is placed on a redis queue for sidekiq to pick it up and fetch it. This process should take a few hundred milliseconds.
- We're using balanced-ruby version 1.1.1

I can give you the funding instrument href - what is the best way to deliver that to you?

I'm not sure how to fi

[2014-11-12 01:34] mjallday commented on #200
@TimKJones what's the marketplace ID and the time that this occurred? as @remear pointed out in the future the ultimate way for us to debug it is to get the `X-Balanced-Guru-ID` header from the HTTP response as we can look that up easily.

Our system persists card tokens immediately so there shouldn't be any latency but we're happy to take a look and see what we can see.

[2014-11-21 16:07] TimKJones commented on #200
Thanks @mjallday. I'm not sure how to extract the `X-Balanced-Guru-ID` header, but I can give you the marketplace ID, the approximate time it occurred, and the funding instrument href. Should I deliver these to you via email?

[2014-11-22 00:12] mjallday commented on #200
@TimKJones the funding instrument href and time of creation is all we need. since it will have expired you can paste it right here in github or send it to support@balancedpayments.com if you prefer and reference this issue in the message. we'll get someone to look.

is this still continuing to occur for you?

[2014-12-17 16:38] JWesorick opened #204 ""This should basically never happen""
So this exception wan't super helpful and also, despite what the exception says, it did happen. I was making a call to fetch a bank account:

`Balanced::BankAccount.fetch("/bank_accounts/#{bank_account_id}")`

where `bank_account_id = nil`. I understand the error is that the id is nil, but it seems like it should either be caught earlier or have a better exception message.

https://github.com/bala

[2015-01-05 17:47] remear commented on #204
@JWesorick I agree with making some changes here to better catch this error.

With that being said, this is also the result of manually building hrefs, which we ask API consumers not to do. You should store and use the `href` attribute supplied in API responses and not manually build them with stored IDs.

[2015-01-05 17:48] remear commented on #200
Closing. Will re-open if this is still occurring and more information is supplied.

[2015-01-05 17:48] #200 closed, assigned to nobody

[2015-01-13 19:20] Irio commented on #204
Did happen for me. :smile:

[2015-01-15 23:18] thepixelmonk commented on #173
why is this issue closed, I'm still getting the above error

[2015-01-15 23:26] mjallday commented on #173
@saiko-chriskun you'll get more help if you provide us a reproducible example so we can try and resolve you issue.

questions like
- what's your environment like?
- which version of the gem do you have installed?

will also aid us in resolving your problem.

[2015-01-19 15:03] waqarshahid opened #205 "Unable to fetch previously created Customer"
I have created customer resource and save the customer href inside my database.I'm trying to find the existing customers as:

[code]

where self.balanced_uri is the customer.href
But it gives me this error:

[code]

Need help on this!!!

[2015-01-19 15:07] #205 closed, assigned to nobody

[2015-01-19 15:07] adnankhantech opened #206 "Unable to fetch previously created Customer"
I have created customer resource and save the customer href inside my database.I'm trying to find the existing customers as:

[code]

where self.balanced_uri is the customer.href
But it gives me this error:

[code]

[2015-01-19 22:26] mjallday commented on #206
@adnan87 you're using the API key associated with "TEST-MP1bo5fDFQ2z4mjksd8ki64E" to fetch the customer, it was created under marketplace "TEST-MP13ZcrWilidn4G0O0cZ0GhL"

[2015-01-19 22:26] #206 closed, assigned to nobody

[2015-01-20 07:56] adnankhantech commented on #206
@mjallday thanks a lot for your input, it worked!!!.
The issue was the customer.href which I was using was of the a different env stored previously inside my database.
Thanks again :+1:

[2015-03-05 14:44] waqarshahid opened #207 "Error crediting amount to Merchant's Bank Account"
I'm trying to credit a customer's bank account but getting this error:

[code]

I have a created a customer(Buyer)whose href is - '/customers/CU2PswXDvLkVKrUfFdTWv3gc'
then created a order with this customer with href is '/orders/OR7h5b44UHklirBOln9HCrSB'. My merchant id href '/orders/OR7h5b44UHklirBOln9HCrSB'. Created a bank account for this merchant using the balanced js - https://docs.balancedp

[2015-03-09 19:18] remear commented on #207
@waqarshahid

Orders are created via Customer instances that represent merchants, not buyers. You may only credit funding instruments of the order customer (merchant) and the marketplace owner customer.

The order customer (merchant) is CU2PswXDvLkVKrUfFdTWv3gc.

Customer CU2PswXDvLkVKrUfFdTWv3gc has no bank accounts associated to it.

The marketplace owner customer bank account (there's only 1) i

[2015-05-27 20:20] lizixroy commented on #173
Hi there, what's the progress on this issue?

I have got stuck with this.

"NoMethodError: undefined method `register_middleware' for #Faraday::Connection:0x007f949b46e538" is the error I got when I run rake db:migrate.

I have Faraday 0.9.0 and 0.9.1 installed on my system.

[2015-05-27 20:43] mjallday commented on #173
Hey @lizixroy. Given Balanced will cease processing within the next few weeks there's no chance this will be resolved.